.rectangle {
  padding: 50px 50px;
  height: 25vh;
  width: 25vh;
  background-color: red;
  opacity: 0.5;
}
.position {
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 70px 60px;
}
.button {
  background-color: red;
}
.button-position {
  margin: 230px 130px;
}
